<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>SHIRTS</h1>
    <h3>Filtrar por artista</h2>
        <a href="/?artista=crysalis">Crysalis</a>
        <a href="/?artista=sebqr">Sebqr</a>
        <a href="/">Todas</a>
    
        <div class="camisa">
            {{#each camisas}} 
            <img src="{{img_principal}}" alt="">
            <h5>{{nombre}}</h5> 
            <p>{{artista}}</p>
            <p>{{talla}}</p> {{/each}}
        </div>
</body>

</html>