* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   

}
$primary-color: rgb(252, 138, 46);

.colorBody {
    background-color: rgb(253, 253, 253);
}

.infoCharacter {
    position: absolute;
    left: 37%;
    width: 600px;
    h1  {
        text-align: left;
        text-shadow: 2px 2px 5px #636363;

    }

    p {
        position: absolute;
     
        top: -130px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin:  0;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 5px #636363;
        
    }

}

.overlay {
    background-color: #636363;
}

.t {
        font-size: 35px;
        color: #ffffff !important;
        text-align: center;
        margin: auto;
        position: absolute;
        top: -350px;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        text-decoration: none;
    }

    
.t2 {
    font-size: 25px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: -250px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    text-decoration: none;
}




.characterPhoto {
        width:15%;
        position: absolute;
        top: 120px;
        left: 20%;
        bottom: 0;
        right: 0;
    
}

h1 {
    color: $primary-color;
}

.parent {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
}


.mabel {
    background-image: url("resources/mabel2.jpg");  
    
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    filter: blur(3px)

   }


.child {

    &.home {
        background-image: url("resources/headerImg2.jpg");
    }

    
    &.episode1 {
        background-image: url("resources/episode1.png");
    }

    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    filter: blur(3px)
}

.parent:hover .child,
.parent:focus .child {

     -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    filter: blur(0px)
}

body {
    background: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: auto;
    width: 60%;
    padding-top: 2em;
    padding-bottom: 10em;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }
}



.episodes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.per {
    width: 23%;
      margin-right:1%;
      display: inline-block;
      margin-top: 2em;
      box-shadow: 2px 2px 5px #636363;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      background-color: #ffffff;

    img {
        width: 100%;
    }

}
.episodeChart {

  
    order: 0;
    flex: 0 19% auto;
    align-self: auto;
    background-color: #ffffff;
    width: 19%;
    box-shadow: 2px 2px 5px #636363;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-top: 2em;


   
    img {
        width: 100%;
    }
    p {
        font-size: 15px;
        padding: 5px 2px 0px 10px;
    }
    h3 {
        padding: 5px 2px 5px 10px;
        background-color: rgb(33, 36, 49);
        color: #ffffff;
        font-size: 16px;
    }
    button {
        width: 100%;
        border: none;
        margin-top: 5px;
        padding: 10px;
    }
    button:hover {
        background-color: rgb(255, 149, 50);
        color: #ffffff;
    }
    
    .like button {
        width: 100%;
        border: none;
        margin-top: 5px;
        padding: 10px;
        background-color: #ffffff;
    }
    
   
}

.volver {

    a {
        text-decoration: none;
        color:rgb(37, 37, 37);
    }
    button {
        width: 150px;
        border: none;

        margin-top: 2em;
        padding: 10px;
    }
    button:hover {
        background-color: rgb(255, 149, 50);
        color: #ffffff;

         }
    
}

.episodeChart.best::after {

            content: ' ';
            
            width: 200px;
            height: 200px;
            top: 6px;
            color: red;
        
       
    
}


 button:focus {background-color: crimson;
    color: #ffffff;}

.selected button {background-color: crimson;
    color: #ffffff;}

.episodeChart:hover, .per:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.11);
}

.article {
    margin-left: 10%;
}

@media (min-width: 0px) and (max-width: 599px) {
 

    .episodes {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: auto;
        
    }

    .episodeChart {
        -ms-flex: 50%;
        flex: 0 50% auto;
        width: 80%;
        
    }

    .per {
        width:  80%;
        
    }
   

}

@media  (min-width: 600px) and (max-width: 759px) {
    .episodeChart {
        -ms-flex: 50%;
        flex: 0 50% auto;
        width: 47%;
    }
    .per {
        width:  60%;
        
    }
   


   
}

@media (min-width: 800px) and (max-width: 1100px) {
    .episodeChart {
        -ms-flex: 30%;
        width: 30%;
        flex: 0 30% left;
    }

  
}

@media (min-width: 1101px) and (max-width: 1250px) {
    .episodeChart {
        -ms-flex: 23%;
        flex: 0 23% left;
        width: 23%;
    }

}